<%- include("partials/header") %>

<section class="geral" style="height: 100vh;">
    <%- include("partials/sidemenu") %>

    <div class="container-fluid" style="padding: 25px 65px;">
        <div class="row">
            <div class="col-lg-12 " style="background-color: rgb(241, 241, 241); padding: 25px; border-radius: 15px; margin-top: 100px;">
                <h2 style="float: left; display: inline" class="font-weight-bold">Funcinários</h2>
                <a class="mb-2 botao" href="/addfunc">+</a>
                <table class="table table-responsive-md table-hover text-center">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Função</th>
                            <th>Turno</th>
                            <th>Ver mais</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%  funcio.forEach(function(funcion){ %>
                        <tr>
                            <td><%=funcion.nome%></td>
                            <td><%=funcion.funcao%></td>
                            <td><%=funcion.periodo%></td>
                            <td><a href="/funcionarios/<%=funcion.id%>">+</a></td>
                        </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>
<%- include("partials/footer") %>